body {
	background: black;
	font-family: "Handlee", cursive;
}

/** {
	border: 1px dashed red;
	min-height: 10px;
}*/

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	padding: 10px;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
	padding-top: 10px;
	font-size: 27px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 10px;
    text-align: justify;
    margin-right: 3px;
}

input {
	border: none;
	border-bottom: 1px grey solid;
	font-family: "Handlee", cursive;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(212, 212, 212);
	padding: 5px 10px;
	font-family: "Handlee", cursive;
}
